{% extends 'layouts/bootstrap_base.html' %}

{% block navbar %}
    <nav class="navbar navbar-light bg-light static-top navbar-expand-sm ">
        <div class="container ">
            <a class="navbar-brand " href="{{ url_for('main.index') }}">Student Monitoring</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarResponsive">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('main.settings') }}">{{ _('Settings') }}</a></li>
                    <li class="nav-item"><a class="nav=link" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% if current_user.is_authenticated and current_user.is_admin %}
                      <li class="nav-item"><a class="btn btn-outline-danger" href="/admin">{{ _('Admin') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container ">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    {{ super() }}
{% endblock %}
