{% extends 'layouts/bootstrap_base.html' %}

{% block navbar %}
    <nav class="navbar navbar-dark bg-dark static-top navbar-expand-sm ">
        <div class="container ">
            <a class="navbar-brand " href="{{ url_for('main.index') }}">Student Monitoring</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarResponsive">
                <ul class="navbar-nav ">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">{{ 'Home' }}</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('main.about') }}">{{ 'About' }}</a></li>
                </ul>
            <ul class="navbar-nav ml-auto ">
            {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.settings') }}">{{ 'Settings' }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">{{ 'Logout' }}</a></li>
                {% if current_user.is_admin %}
                  <li class="nav-item"><a class="nav-link" href="/admin">{{ 'Admin' }}</a></li>
                {% endif %}
            {% else %}
                <li class="nav-item"><a class="btn btn-primary" href="{{ url_for('auth.login') }}">{{ 'Login/Register' }}</a></li>
            {% endif %}
            </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container ">
        {% with messages = get_flashed_messages() %}
            <div id="flash_messages">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
            </div>
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
