 <div class="list-group-item" id="doc_problem_{{ problem.id }}">
      <div class="d-flex flex-row">
          <div class="btn-group-vertical mr-3">
              <button type="button" class="btn btn-outline-primary" id="btn-up-{{ problem.id }}">Up</button>
              <button type="button" class="btn btn-outline-primary" id="btn-down-{{ problem.id }}">Down</button>
          </div>
          <div class="tex2jax_process">
              {{ problem.parsed_latex|safe }}
          </div>
      </div>
 </div>