    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=problem.author.username) }}">
                    <img src="{{ problem.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=problem.author.username) }}">
                            {{ problem.author.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(problem.timestamp).fromNow()) }}
                <br>
                <span id="problem{{ problem.id }}_course">({{ problem.course }})</span>
                <span id="problem{{ problem.id }}" class="text2jax_process">{{ problem.body }}</span>
                <span id="problem{{ problem.id }}_notes" class="text2jax_process">{{ problem.notes }}</span>
                <span id="problem{{ problem.id }}_solution" class="text2jax_process">{{ problem.solution }}</span>
            </td>
        </tr>
        {%  if problem.user_id|int == current_user.get_id()|int %}
        <tr>
            <a href="{{ url_for('problem_manager.edit_problem', problem_id=problem.id) }}">{{ _('Edit problem') }}</a>
            <a href="{{ url_for('problem_manager.delete_problem', problem_id=problem.id) }}">{{ _('Delete problem') }}</a>
        </tr>
        {%  endif %}
    </table>
