{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if form %}
      <div class="container mt-5">
        {{ wtf.quick_form(form, button_map={"submit": "primary"}) }}
      </div>
    {% endif %}
    <div class="container list-group mt-5">
        {% for problem in problems %}
            {% include 'problem_manager/_doc_problem.html' %}
        {% endfor %}
        <a role="button" href="{{ url_for('problem_manager.clear_document') }}" class="btn btn-outline-primary mt-1">Clear Document</a>
    </div>
    </form>
{% endblock %}
