{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row ">
      <div class="accordion " id="problem-accordion">
        <form method="POST" action="{{ url_for('problem_manager.explore') }}">
          {{ explorer_form.hidden_tag() }}
          <div class="card">
            <div class="card-header" id="explore-header-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#course-search">
                <h3>Course</h3>
              </button>
              </div>
              <div id="course-search" class="collapse">
                <div class="card-body">
                  <div>{{ explorer_form.course }}</div>
                  </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="explore-header-1">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#institution-search">
                  <h3>Institution</h3>
                </button>
                </div>
                <div id="institution-search" class="collapse">
                  <div class="card-body">
                    <div>{{ explorer_form.institution }}</div>
                    </div>
                </div>
            </div>
            <div class="card">
              <div class="card-header " id="explore-header-2">
                <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#author-search">
                  <h3>Author</h3>
                </button>
                </div>
                <div id="author-search" class="collapse">
                  <div class="card-body">
                    <div>{{ explorer_form.author }}</div>
                    </div>
                </div>
              </div>
            {{ explorer_form.submit(class="btn btn-primary btn-lg mt-3 mb-2") }}
            </form>
       </div>
    </div>
    <div class="row">
      <div class="card-columns collapse show" id="problem_list">
        {% for problem in problems %}
            {% include 'problem_manager/_problem.html' %}
        {% endfor %}
      </div>
    </div>
</div>


<!-- <nav id="sidebar" class="mini flex-column pl-2 pt-2">
    <div id="toggle-sidebar">
        <button type="button" class="fas fa-arrow-right btn btn-outline-primary " id="toggle-sidebar"></button>
    </div>
    <div class="row">
        <div class="col-3">
            <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
              <li class="nav-item sidebar-expander">
                <a class="nav-link " id="course-tab" data-toggle="tab" href="#course" role="tab" aria-controls="course" aria-selected="true">Course</a>
              </li>
              <li class="nav-item sidebar-expander">
                <a class="nav-link" id="institution-tab" data-toggle="tab" href="#institution" role="tab" aria-controls="institution" aria-selected="false">Institution</a>
              </li>
              <li class="nav-item sidebar-expander">
                <a class="nav-link" id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Instructor</a>
              </li>
            </ul>
        </div>
        <div class="col-9 hidden" id="sidebar-content">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="course" role="tabpanel" aria-labelledby="course-tab">
                <form method="POST" action="{{ url_for('problem_manager.explore') }}">
                  <div>{{ explorer_form.course.label }}: {{ explorer_form.course }}</div>
                  <div>{{ explorer_form.submit }}</div>
                </form>
              </div>
              <div class="tab-pane fade" id="institution" role="tabpanel" aria-labelledby="institution">
                <form method="POST" action="{{ url_for('problem_manager.explore') }}">
                  <div>{{ explorer_form.institution.label }}: {{ explorer_form.institution }}</div>
                  <div>{{ explorer_form.submit }}</div>
                </form>
              </div>
              <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor">
                <form method="POST" action="{{ url_for('problem_manager.explore') }}">
                  <div>{{ explorer_form.author.label }}: {{ explorer_form.author }}</div>
                  <div>{{ explorer_form.submit }}</div>
                </form>
              </div>
            </div>
        </div>
    </div>
</nav> -->
{% endblock %}
