@media (min-width: 768px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .card-columns {
		column-count: 2;
	}
	.card-columns-single {
		column-count: 1;
	}
}

.card .card-expand {
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(220,220,220);
	background-color: rgb(250,250,250);
}

.gold {
  color: gold;
}

.blue {
  color: blue;
}

.accordion {
  width: 100%;
  text-align: center;
  /* background: darkgrey; */
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: solid 1px rgb(220,220,220);
}

.problem-metadata  {
	font-size: 12px;
	font-style: italic;
	margin: -5px;
}

.border_red {
  border: solid 1px red;
}

.border_blue {
  border: solid 1px blue;
}

.border_green {
  border: solid 1px green;
}