.border_red {
	border-style: solid;
	border-color: red;
}

.border_blue {
	border-style: solid;
	border-color: blue;
}

.border_green {
	border-style: solid;
	border-color: green;
}

.border_black {
	border-style: solid;
	border-color: black;
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
    .card-columns-single {
        column-count: 1;
    }
}

.card .card-expand {
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(220,220,220);
	background-color: rgb(250,250,250);
}

.jumbotron {
	background: linear-gradient(#edf9ff, white);
}

.problem-metadata  {
	font-size: 12px;
	font-style: italic;
	margin: -5px;
}

/* SIDEBAR */
.wrapper {
    display: flex;
    align-items: stretch;
}

.content {
    z-index: 0;
}

#sidebar {
    min-height: 100vh;
    background: lightgrey;
    /* top layer */
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

#sidebar.full {
    min-width: 50vw;
    max-width: 50vw;
}


.hidden {
    visibility: hidden;
}

#overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    /* middle layer */
    z-index: 990;
    transition: all 0.5s ease-in-out;
}

#overlay.hidden {
    display: none;
    opacity: 0;
}
