{% extends "layouts/base.html" %}

{% block app_content %}

<div class="container mt-5">

 <div class=" d-flex p-3 justify-content-center">

    <p class="lead align-text-middle">
        We connect with your learning management system (LMS) to automatically identify students who are struggling
        or excelling. Receive weekly emails showing who needs extra help, and who deserves a high five! One email per
        week, nothing else. No spam, no clunky apps.
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-primary">Get started!</a>
    </p>
     <img src="{{ url_for('static', filename= 'example_email.png') }}" class="img-thumbnail" style="width: 300px; height: auto;" alt="Example email">

</div>
{% endblock %}