{% extends "layouts/base.html" %}

{% block app_content %}

<div class="container mt-5">
<h1 class="display-3 mt-3 mb-3">Student grade monitoring</h1>

    <p class="lead align-text-middle">
        We connect with your learning management system (LMS) to automatically identify students who are struggling
        or excelling. Receive weekly emails showing who needs extra help, and who deserves a high five! One email per
        week, nothing else. No spam, no clunky apps.
    </p>
     {% if not current_user.is_authenticated %}
    <p>
      <a href="{{ url_for('auth.login') }}" class="btn btn-lg btn-primary">Get started!</a>
    </p>
     {% endif %}

    <hr />
    <div class="row align-items-center">
        <div class="col-5">
            <p class="lead">Receive a weekly email showing a snapshot of how your students
                are doing. Instantly see students who are struggling or excelling.</p>
        </div>
        <div class="col-7">
            <img class="img-about" src="{{ url_for('static', filename='example_email.png') }}">
        </div>
    </div>
    <hr />
    <div class="row align-items-center">
        <div class="col-5">
            <p class="lead">Choose exactly which courses you do and do not want monitored.
                It's as simple as a click.</p>
        </div>
        <div class="col-7">
            <img class="img-about" src="{{ url_for('static', filename='example_courses.png') }}">
        </div>
    </div>
    <hr />
    <div class="row align-items-center">
        <div class="col-5">
            <p class="lead">Delete your account at any time with just one click. No need
            to unsubscribe, no need to contact support.</p>
        </div>
        <div class="col-7">
            <img class="img-about" src="{{ url_for('static', filename='example_delete.png') }}">
        </div>
    </div>

</div>
{% endblock %}