{% extends "layouts/base.html" %}

{% block app_content %}

<div class="container mt-5">
<h1 class="display-3 mt-3 mb-3">Student grade monitoring</h1>
 <div class=" d-flex flex-column justify-content-center">

    <p class="lead align-text-middle">
        We connect with your learning management system (LMS) to automatically identify students who are struggling
        or excelling. Receive weekly emails showing who needs extra help, and who deserves a high five! One email per
        week, nothing else. No spam, no clunky apps.
    </p>
    <p class="lead">
      <a href="{{ url_for('auth.login') }}" class="btn btn-lg btn-primary">Get started!</a>
    </p>
</div>
{% endblock %}