{% extends "layouts/base.html" %}

{% block app_content %}

<div class="container mt-5">
<h1 class="display-4 mt-3 mb-3">Getting started</h1>
 <div class=" d-flex flex-column justify-content-center">

    <p class=" align-text-middle">
        Getting setup is easy. The only real step is getting an Access Token from Canvas. Here are the steps:
    </p>

     <p style="width: 40%; height: auto;">Start by logging into Canvas</p>
     <div><img style="max-width: 60%; height: auto;" src="{{ url_for('static', 'canvas_landing.png') }}"></div>

     <div><img style="max-width: 60%; height: auto;" src="{{ url_for('static', 'canvas_account.png') }}"></div>
     <p style="width: 40%; height: auto;">Click on "Account" in the top-left corner, then click "Settings"</p>

     <p style="width: 40%; height: auto;">Scroll down until you see "Approved Integrations", then click "New Access Token"</p>
     <div><img style="max-width: 60%; height: auto;" src="{{ url_for('static', 'canvas_api.png') }}"></div>

     <div><img style="max-width: 60%; height: auto;" src="{{ url_for('static', 'canvas_gen_token.png') }}"></div>
     <p style="width: 40%; height: auto;">For "Purpose" type "Student monitoring" (or whatever name you would like to
         give it, the name is just for your reference). Leave "Expires" blank.
     </p>

      <p style="width: 40%; height: auto;">Copy the value show in "Token". This is the "API Key" you will be asked for
      when registering with Student Monitoring.</p>
     <div><img style="max-width: 60%; height: auto;" src="{{ url_for('static', 'canvas_token.png') }}"></div>

     <hr />
     <p class=" align-text-middle">
        Now you're ready to get registered. Click on "Login/Register" in the top-right corner of this page. Or,
         click on <a href="{{ url_for('auth.login') }}">this link.</a>
    </p>

      <p style="width: 40%; height: auto;">You will be redirected to login using Google. Just click on your
          St. Edward's email address.</p>
     <div><img style="max-width: 60%; height: auto;" src="{{ url_for('static', 'app_google.png') }}"></div>

     <div><img style="max-width: 60%; height: auto;" src="{{ url_for('static', 'app_register.png') }}"></div>
     <p style="width: 40%; height: auto;">Type in your name and select your department. Then, in the "API Token" field,
         paste the "Access Token" you just copied from Canvas. Click "Register" and you're done!
     </p>
     <hr />

</div>
{% endblock %}