{% extends "layouts/base.html" %}

{% block app_content %}

    <div class="container mt-5">
        <h1 class="display-4 mt-3 mb-3">Getting started</h1>
        <p class=" align-text-middle">
            Getting setup is easy, just follow these steps:
        </p>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            </ol>
            <div class="carousel-inner text-center">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ url_for('static', filename='canvas_landing.png') }}" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Login to Canvas</h5>
                        <p>Start by logging into Canvas</p>
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <img class="d-block w-100" src="{{ url_for('static', filename='canvas_account.png') }}" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Go to Account settings</h5>
                        <p>Click on "Account" in the top-left corner, then click "Settings"</p>
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <img class="d-block w-100" src="{{ url_for('static', filename='canvas_api.png') }}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Approved integrations</h5>
                        <p>Scroll down until you see "Approved Integrations", then click "New Access Token"</p>
                    </div>
                </div>
                <div class="carousel-item text-center">

                    <img class="d-block w-100" src="{{ url_for('static', filename='canvas_gen_token.png') }}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Generate an access token</h5>
                        <p>For "Purpose" type "Student monitoring" (or whatever name you would like to
                            give it, the name is just for your reference). Leave "Expires" blank.</p>
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <img class="d-block w-100" src="{{ url_for('static', filename='canvas_token.png') }}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Copy the token</h5>
                        <p>Copy the value show in "Token". This is the "API Key" you will be asked for
                            when registering with Student Monitoring.</p>
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <img class="d-block w-100" src="{{ url_for('static', filename='app_landing.png') }}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Register with Student Monitoring</h5>
                        <p>Now you're ready to get registered. Click on "Login/Register" in the top-right corner of this page. Or,
                            click on <a href="{{ url_for('auth.login') }}">this link.</a></p>
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <img class="d-block w-100" src="{{ url_for('static', filename='app_google.png') }}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Login with your @stedwards.edu account</h5>
                        <p>You will be redirected to login using Google. Just click on your
                            St. Edward's email address.</p>
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <img class="d-block w-100" src="{{ url_for('static', filename='app_register.png') }}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Complete your registration</h5>
                        <p>Type in your name and select your department. Then, in the "API Token" field,
                            paste the "Access Token" you just copied from Canvas. Click "Register" and you're done!</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
{% endblock %}