{% extends "layouts/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'macros.html' import render_pagination_bootstrap4 %}

{% block app_content %}

<div class="container">

<h1>Welcome</h1>

{% if form %}
    {{ form.hidden_tag() }}
    <h2>Courses</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Monitored</th>
          <th scope="col">Course</th>
          <th scope="col">Auto Email</th>
        </tr>
      </thead>
    <tbody>
    {% for c in form.courses %}
        {{ c.hidden_tag() }}
        <tr>
          <td>{{ wtf.render_field(c.is_monitored) }}</td>
          <td>{{ wtf.render_field(c.short_name) }}</td>
          <td>{{ wtf.render_field(c.auto_email) }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {{ form.submit_changes() }} {{ form.refresh_courses() }}
{% endif %}

</div>
{% endblock %}