{% extends "layouts/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'macros.html' import render_pagination_bootstrap4 %}

{% block app_content %}

<div class="container mt-3">

{% if form %}
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h1 class="mb-2">Courses</h1>
    <table class="table table-hover">
      <thead>
        <tr class="d-flex">
          <th scope="col" class="col-lg-1 text-center">Monitored</th>
          <th scope="col" class="col-lg-9 ">Course</th>
          <th scope="col" class="col-lg-2 text-center">Auto Email</th>
        </tr>
      </thead>
    <tbody>
    {% for c in form.courses %}
        {% set is_monitored_key = "is_monitored_%s"|format(c) %}
        {% set short_name_key = "short_name_%s"|format(c) %}
        {% set auto_email_key = "auto_email_%s"|format(c) %}
        <tr class="d-flex">
            <td class="col-lg-1 text-center ">{{ form[is_monitored_key](**{'data-toggle': 'toggle', 'data-onstyle': 'primary'}) }}</td>
            <td class="col-lg-9 "><p>{{ form[short_name_key].label }}</p></td>
            <td class="col-lg-2 text-center ">{{ form[auto_email_key](**{'data-toggle': 'toggle', 'data-onstyle': 'primary'}) }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {{ form.submit_changes(class_='btn btn-primary') }}
    </form>
{% endif %}

</div>
{% endblock %}