{% extends "layouts/base.html" %}

{% block app_content %}

    <div class="container">
        <h1>Settings</h1>
        <div class="row">
            <div class="col-sm"><h3>Refresh courses</h3></div>
            <div class="col"></div>
            {% if refresh_courses_form %}
                <form action="" method="post" novalidate>
                    {{ refresh_courses_form.hidden_tag() }}
                    {{ refresh_courses_form.refresh_courses(class_='btn btn-secondary') }}
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}