{% extends 'bootstrap_base.html' %}

{% block navbar %}
    <nav class="navbar navbar-light bg-light static-top navbar-expand-sm tex2jax_ignore ">
        <div class="container ">
            <a class="navbar-brand display-1" href="{{ url_for('main.index') }}">Problematic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                  {% if g.search_form %}
                  <li class="nav-item">
                  <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                      <div class="form-group">
                          {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                      </div>
                  </form></li>
                  {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('problem_manager.explore') }}">{{ _('Explore') }}</a></li>
                    {% if current_user.is_authenticated %}
                    {% set new_messages = current_user.new_messages() %}
                    {% if new_messages %}
                    <li class="nav-item">
                            <span id="message_count" class="badge">
                                {{ new_messages }}
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('problem_manager.documents') }}">{{ _('Document') }}</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('main.user', user_id=current_user.id) }}">{{ _('Profile') }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% if current_user.is_authenticated %}
                      <li class="nav-item"><a class="nav-link" href="/admin">{{ _('Admin') }}</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container tex2jax_ignore">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                $(destElem).text(response['text'])
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
        $(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            if (notifications[i].name == 'unread_message_count')
                                set_message_count(notifications[i].data);
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });
        {% endif %}

        // AJAX for add-to-starred and add-to-document
        $(document).ready(function () {
            $("a[id^=toggle-starred]").click(function(event){
              event.preventDefault();
              var button_id=$(this).attr("id");
                $.ajax({
                  url: "{{ url_for('problem_manager.toggle_starred') }}",
                  data: {button_id: button_id},
                  type: 'GET',
                  dataType: 'json',
                  success: function(data){
                      $('#star-bg-' + data.problem_id).toggleClass("far fas");
                      $('#star-bg-' + data.problem_id).css("color", "gold");
                      if (data.visible === false) {
                        $('#doc_problem_' + data.problem_id).hide();
                      } else {
                        $('#doc_problem_' + data.problem_id).show();
                      }
                    }
                })
              });
            $("button[id^=toggle-to-document]").click(function(event){
                event.preventDefault();
                var button_id=$(this).attr("id");
                $.ajax({
                  url: "{{ url_for('problem_manager.toggle_to_document') }}",
                  data: {button_id: button_id},
                  type: 'GET',
                  dataType: 'json',
                  success: function(data){
                      $('#' + button_id).toggleClass("btn-primary btn-outline-primary");
                      var text = $('#' + button_id).text();
                        $('#' + button_id).text(
                            text == "+ Doc" ? "- Doc" : "+ Doc");
                      if (data.visible === false) {
                        $('#doc_problem_' + data.problem_id).hide();
                      } else {
                        $('#doc_problem_' + data.problem_id).show();
                      }
                    }
                })
              });
            });
            $("button[id^=btn-up]").click(function(){
                $.ajax({
                  url: "{{ url_for('problem_manager.clear_document') }}",
                  type: 'GET',
                  success: function(data){
                    set_document_count(data.document_count);
                    }
                })
              });
    </script>
    {{ super() }}
{% endblock %}
