{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ _('User') }}: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                <p>{{ _('%(count)d followers', count=user.followers.count()) }}, {{ _('%(count)d following', count=user.followed.count()) }}</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('main.follow', username=user.username) }}">{{ _('Follow') }}</a></p>
                {% else %}
                <p><a href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('Unfollow') }}</a></p>
                {% endif %}
                {% if user != current_user %}
                <p><a href="{{ url_for('main.send_message', recipient=user.username) }}">{{ _('Send private message') }}</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <a class="h3 " data-toggle="collapse" href="#starred_problems" role="button" aria-expanded="false" aria-controls="collapseExample">Starred problems</a>
    <div class="card-columns collapse show mt-3 mb-3" id="starred_problems">
        {% for problem in starred_problems %}
            {% include 'problem_manager/_problem.html' %}
        {% endfor %}
    </div>
    <br>
    <a class="h3 " data-toggle="collapse" href="#user_problems" role="button" aria-expanded="false" aria-controls="collapseExample">Your problems</a>
    <div class="card-columns collapse show mt-3" id="user_problems">
        {% for problem in user_problems %}
            {% include 'problem_manager/_problem.html' %}
        {% endfor %}
    </div>
{% endblock %}
