{% extends "base.html" %}
{% from 'macros.html' import render_pagination_bootstrap4 %}

{% block app_content %}
    <!-- todo: Redo as flexbox -->
    <table class="table mt-3 border-bottom">
        <tr>
            <td width="128px"><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>{{ user.full_name }}</h1>
                {% if user.title %}<p class="lead">{{ user.title }} at {{ user.institution.name }}</p>{% endif %}
                {% if user.about_me %}<p class="text-muted">{{ user.about_me }}</p>{% endif %}
                <p>
                    <button class="btn btn-outline-primary" data-toggle="popover" title="{% if user == current_user %}Your{% else %}{{ user.full_name }}'s{% endif %} followers" data-html="true"
                            data-content="{% for user in user.followers %} <a href={{ url_for('main.user', user_id=user.id) }}>{{ user.full_name }} - {{ user.institution.name }}</a>{% endfor %}">
                    {{ _('%(count)d followers', count=user.followers.count()) }}</button>
                    <button class="btn btn-outline-primary" data-toggle="popover" title="Users following {% if user == current_user %}you{% else %}{{ user.full_name }}{% endif %}" data-html="true"
                            data-content="{% for user in user.followed %} <a href={{ url_for('main.user', user_id=user.id) }}>{{ user.full_name }} - {{ user.institution.name }}</a>{% endfor %}">
                    {{ _('%(count)d following', count=user.followed.count()) }}</button>
                </p>
                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('main.follow', username=user.username) }}">{{ _('Follow') }}</a></p>
                {% else %}
                <p><a href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('Unfollow') }}</a></p>
                {% endif %}
                {% if user != current_user %}
                <p><a href="{{ url_for('main.send_message', recipient=user.username) }}">{{ _('Send private message') }}</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <div class="container">
        <div class="row">
           <a class="h3 " data-toggle="collapse" href="#starred_problems" role="button" aria-expanded="false" aria-controls="collapseExample">Starred problems</a>
            {{ render_pagination_bootstrap4(starred_problems, nav_class="ml-3") }}
        </div>
    </div>
    <div class="card-columns collapse show mt-3 mb-3" id="starred_problems">
        {% for problem in starred_problems.items %}
            {% include 'problem_manager/_problem.html' %}
        {% endfor %}
    </div>
    <br>
    <div class="container">
        <div class="row">
           <a class="h3 " data-toggle="collapse" href="#user_problems" role="button" aria-expanded="false" aria-controls="collapseExample">Your problems</a>
            {{ render_pagination_bootstrap4(user_problems, nav_class="ml-3") }}
        </div>
    </div>
    <div class="card-columns collapse show mt-3" id="user_problems">
        {% for problem in user_problems.items %}
            {% include 'problem_manager/_problem.html' %}
        {% endfor %}
    </div>
{% endblock %}
